backend/.venv/
*.env
.idea/
backend/__pycache__/
backend/cloud_providers/__pycache__/
backend/helpers/__pycache__/
backend/sources/__pycache__/
backend/tmp/
backend/venv/

frontend/node_modules/
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage/

# production
frontend/build/

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
